body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body,
#root,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.mosaic-window-body {
  overflow: scroll !important;
}

.datum {
  display: flex;
  width: 20rem;
  padding: 0.4rem 0.5rem;
  margin: 0.8rem 0;
  border-radius: 0.2rem;

  background-color: yellowgreen;
  color: black;
}

.property {
  flex: 1 0 auto;
}
/* .property .bp3-popover-wrapper,
.property .bp3-popover-target {
  width: 100%;
} */
